.dino-image {
    border: 2px solid black;
    border-radius: 10px;
    height: 250px;
    width: 300px;
    
}

.card {
    border: 2px solid black;
    background-image: url("./component_images/card.png");
    margin: 1rem 1rem;
    box-shadow: 0px 5px 25px darkolivegreen;
    padding: 12px;
    flex-basis: 0;
    border-radius: 8px;
    min-height: 630px;
    min-width: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    color: darkblue;
    font-family: 'ZCOOL KuaiLe', cursive;
}

.dino-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button-b {
    font-size: 12px;
    margin: 0.25em;
    background-color: darkblue;
    border-radius: 7px;
    width: 33%;
    height: 30px;
    color: azure;
}

