.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    color: black;
}

.button {
   font-size: 20px;
   margin: 0.25em;
   background-image: url("./component_images/card.png");
   border-radius: 7px;
   width: 100%;
   height: 60px;
   overflow: hidden;
   white-space:normal;   
}

.link {
    text-decoration: none;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: darkblue;
    
}


@media screen and (max-width: 600px) {
    .button {
      font-size: 7px;
    }
}

.music {
  transform: scaleX(-1);
  background-color: transparent;
  max-height: 55px;
  max-width: 55px;
  cursor: pointer;


}

.button-music {
  background-color: transparent;
  border: none;
}

.emptyfavs{
  font-size:40px;
  color: white;

}

.random-button {
    font-size: 18px;
    margin: 0.25em;
    background-color: darkblue;
    border-radius: 7px;
    width: 15%;
    height: 50px;
    color: azure;
}




@media screen and (max-width: 600px) {
  .random-button {
    font-size: 8px;
    
  
  }
}