.dino-image {
    border: 2px solid greenyellow;
    height: 250px;
    width: 300px;

}

.card {
    border: 2px solid black;
    background-image: url("./component_images/card.png");
    margin: 1rem 1rem;
    box-shadow: 0px 5px 25px darkolivegreen;
    padding: 12px;
    flex-basis: 0;
    border-radius: 8px;
    min-height: 610px;
    background-repeat: no-repeat;
    background-size: 22em 23em;
    
}