.musicpic {
    height: 60px;




}


.quizform {
    margin:auto;
    justify-content: center;

    text-align: center;
    background: white;
    width: 30vw;
    border: 2px solid black;


}


.music {

    cursor: pointer;
    background-color: Transparent;
    border: none;

}